
.body{
  background-color:#000000;
}

.container{
  background-color:#000000;
  color:white;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 1%;
  margin-top: 1%;
}

.card  {
  color:white;
   background-color: rgba(0, 0, 0, 0.767);

  }
.card-header, .card-footer {
   background-color:rgb(0, 0, 0);
   opacity: 100;
   font-weight: bolder;
   font-size:18px;
   color:rgba(255, 255, 255, 0.795);
   letter-spacing: 6px;

  }
  input{
    font-size:2.5vh;
    background: #7383bb2f;
    color:rgb(0, 0, 0);
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0), 0 1px 50px rgba(0, 0, 0, 0.411);

  }
  input:focus {
    color:rgb(255, 255, 255);
    background: #98abf03b;
    transition: background 0.5s ease-out;
  }

  button{
    padding-bottom: 5%;
  }