
body{
  background-color:#000000;
  background-image: url('https://i.pinimg.com/originals/4a/65/ab/4a65abeead3a8d113bccfee5d5d239f4.gif');
  background-repeat: no-repeat;
  background-position: 35%;
  background-attachment: fixed;
  min-height: 100%;
}

.container{
  background-color:rgba(0,0,0,0.7);
  color:white;
  width: 60%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 1%;
  margin-top: 1%;
}

.card  {
  color:white;

  }
.card-header, .card-footer {
   background-color:rgba(0,0,0,0.1);
   opacity: 100;
   font-weight: bolder;
   font-size:18px;
   color:rgba(255, 255, 255, 0.795);
   letter-spacing: 6px;

  }
  input{
    font-size:2.5vh;
    background: #7383bb2f;
    color:rgb(0, 0, 0);
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0), 0 1px 50px rgba(0, 0, 0, 0.411);

  }
  input:focus {
    color:rgb(255, 255, 255);
    background: #98abf03b;
    transition: background 0.5s ease-out;
  }

  button{
    padding-bottom: 5%;
  }