{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{title}}
    {{ super() }}
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{g.user.username}}'s Profile</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">log out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="card">
      <div class="card-header ">Añadir Nuevo Mensaje
      </div>
      <div class="card-body ">
        <form method="POST" action="">
          <div class="form-group">
            <label for="formGroupExampleInput">Mensaje:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="mensaje" placeholder="Escriba su mensaje">
          </div>
          <div class="card-footer ">
            <button class="btn btn-primary btn-sm mb-6 col-lg-6 " type="submit" name="guardar" value="guardar">Guardar</button>
           </div>
        </form>
        <a href="/home"><button class="btn btn-success btn-sm mb-6 col-lg-6 " type="submit">Recargar</button></a>
        <form method="POST" action="">
        <button class="btn btn-info btn-sm mb-6 col-lg-6 " type="submit" name="check" value="check">Checar Cadena</button>
      </form>
      {% if mensaje != "" %}
      <p>{{mensaje}}</p>
      {% endif %}
      </div>
    </div>
  </div>
  <br>
    <!--Aqui empieza la cosa que se va a repetir-->
    {% for sblock in blockchain %}
    <div class="container">
    {% if sblock["_id"]== 0 %}
    <div class="card">
      <p>indice: {{sblock["_id"]}}</p>
      <p>usuario: {{sblock["usuario"]}}</p>
      <p>hora: {{sblock["hora"]}}</p>
      <p>hash: {{sblock["hash"]}}</p>
      <p>nonce: {{sblock["nonce"]}}</p>
      <p>mensaje: {{sblock["mensaje"]}}</p>
    </div>
    <br>
    {% else %}
      <div class="card">
        <p>indice: {{sblock["_id"]}}</p>
        <p>usuario: {{sblock["usuario"]}}</p>
        <p>hora: {{sblock["hora"]}}</p>
        <p>hash: {{sblock["hash"]}}</p>
        <p>nonce: {{sblock["nonce"]}}</p>
        <p>hash anterior: {{sblock["ahash"]}}</p>
        <p>mensaje: {{sblock["mensaje"]}}</p>
        
      </div>
      <br>
    {% endif %}
    </div>
    {% endfor %}
{% endblock content %}