{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{title}}
    {{ super() }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card">
      <div class="card-header ">Añadir Nuevo Mensaje
      </div>
      <div class="card-body ">
        <form method="POST" action="">
          <div class="form-group">
            <label for="formGroupExampleInput">Mensaje:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="mensaje" placeholder="Escriba su mensaje">
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-sm mb-2 " type="submit">Guardar</button>
           </div>
        </form>
        <br>
        <a href="/"><button class="btn btn-success btn-sm mb-2 " type="submit">Recargar</button><a>
      </div>
    </div>
  </div>
  <br>
    <!--Aqui empieza la cosa que se va a repetir-->
    {% for sblock in blockchain %}
    <div class="container">
    {% if sblock["_id"]== 0 %}
    <div class="card">
      <p>indice: {{sblock["_id"]}}</p>
      <p>usuario: {{sblock["usuario"]}}</p>
      <p>hora: {{sblock["hora"]}}</p>
      <p>hash: {{sblock["hash"]}}</p>
      <p>nonce: {{sblock["nonce"]}}</p>
      <p>mensaje: {{sblock["mensaje"]}}</p>
    </div>
    <br>
    {% else %}
      <div class="card">
        <p>indice: {{sblock["_id"]}}</p>
        <p>hora: {{sblock["hora"]}}</p>
        <p>hash: {{sblock["hash"]}}</p>
        <p>nonce: {{sblock["nonce"]}}</p>
        <p>hash anterior: {{sblock["ahash"]}}</p>
        <p>mensaje: {{sblock["mensaje"]}}</p>
        
      </div>
      <br>
    {% endif %}
    </div>
    {% endfor %}
{% endblock content %}