{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{title}}
    {{ super() }}
{% endblock title %}

    

{% block content %}
  
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

      <div class="contenedor col-md-6 centro">
            <form method="POST">
              <h2>  <img class="centro" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2gHRJOS-iWzsOZn7woXuK0vEGIok1SdJ4RQ&usqp=CAU">
                INICIAR SESIÓN</h2>
              <div class="form-group col-md-12 centro" >
                <h4 class="h5">Usuario:</h4>
                <input type="input" class="form-control" name="username" placeholder="Francis el Guapo ;*">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <div class="form-group col-md-12 centro">
                <h4 class="h5">Contraseña:</h4>
                <input type="password" class="form-control"name="password" placeholder="***************" style="background-color: darkgray;">
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="btn btn-primary col-md-5" >Iniciar sesión</button>
                  <button class="btn btn-primary col-md-5" >Crear Cuenta</button>
                </p>
              </div>
            </form>
    </div>
  
{% endblock content %}